.hero-section-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  overflow: hidden;
}

.hero-section-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/background/homepage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}

.hero-section-content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  z-index: 0;
}

.cta-container {
  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  align-items: center;

  padding-left: 1.25rem;
  padding-right: 1.25rem;

  overflow: hidden;
}

.cta-content {
  position: relative;
  width: 100%;
  max-width: 1200px;
}
